:root{
  --background:#f8f9fa;
  --secondery1:#3b66b6;
  --secondery2:#141624;
  --secondery3:#d6d6d6;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.particles {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

.main{
  display: flex;
}

.data-main{
  width: 100%;
}

.inp-usr{
  font-size: 1em;
  color: rgb(28, 39, 65);
  padding: 1.5em;
  background: #ebebeb;
  outline: none;
  border: none;
  width:100%;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.062);
}
.inp-usr::placeholder{
  color: rgb(28, 39, 65);
}

.nav-main{
  height: 100vh;
  width: 300px;
  background: #fff;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.062);
}

.nav-header{
  width: 100%;
  display:flex;
  padding: 8px 0;
  justify-content: flex-start;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 20px;
}

.nav-header img{
  height: 40px;
  padding: 0 1em ;
}

.nav-header p{
  font-size: 16px;
  color: rgb(28, 39, 65);
}

.nav-item{
  padding: 1em;
  cursor: pointer;
  color: rgb(28, 39, 65);
  text-decoration: none;
}

.nav-item-active{
  transition: 1s;
  color: #3b66b6;
  letter-spacing: 3px;
}

.bio-main{
  opacity: 0;
  animation: fadein 1s linear 1 forwards;
  height: max-content;
  margin: 1em 2em;
  border-radius: 20px;
  color: rgb(28, 39, 65);
  padding: 1em;
}

.bio-main img{
  width: 200px;
  border-radius: 50%;
  border: 2px solid var(--secondery3);
  margin-top: 5px;
}

.repo-main{
  opacity: 0;
  animation: fadein 1s linear 1 forwards;
  width: 100%;
  height: 90vh;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-y: auto;
}

.repo-main div{
  height: max-content;
  background: var(--background);
  width: 250px;
  margin: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.062);
  color: rgb(28, 39, 65);
  padding: 1em;
  font-size: 14px;
  cursor: pointer;
}

.user-main{
  opacity: 0;
  animation: fadein 1s linear 1 forwards;
  width: 100%;
  height: 90vh;
  word-wrap: break-word;
  overflow-y: auto;
}

.user-main div{
  display: flex;
  border-bottom: 1px solid var(--secondery3);
  font-size: 15px;
  margin: 0 1em;
}

.user-main div img{
  margin: 13px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}



@keyframes fadein {
	0% {
		opacity: 0;
	}
  50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}