:root{
  --background:#f8f9fa;
  --main:rgb(28, 39, 65);
  --secondery:#d6d6d6;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  display: flex;
}

.data-main{
  width: 100%;
}

.inp-usr{
  font-size: 1em;
  color: var(--main);
  padding: 1.5em;
  background: #ebebeb;
  outline: none;
  border: none;
  width:100%;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.062);
}
.inp-usr::placeholder{
  color: var(--main);
}

.nav-main{
  height: 100vh;
  width: 200px;
  background: #fff;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.062);
}

.nav-header{
  width: 100%;
  display:flex;
  padding: 4px 0;
  justify-content: flex-start;
  border-bottom: 2px solid #ebebeb;
  margin-bottom: 20px;
}

.nav-header img{
  height: 50px;
  padding: 0 5px 0 10px ;
}

.nav-header p{
  font-size: 17px;
  color: var(--main);
  letter-spacing: 2px;
  font-weight: 800;
}

.nav-item{
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  color: var(--main);
  text-decoration: none;
  margin: 10px;
}

.nav-item p{
  margin: 5px;
}

.nav-item-active{
  transition: 1s;
  color: #3b66b6;
  letter-spacing: 3px;
}

.bio-main{
  opacity: 0;
  animation: fadein 1s linear 1 forwards;
  margin: 1em 2em;
  border-radius: 20px;
  color: var(--main);
  padding: 1em;
  height: 90vh;
  overflow-y: auto;
}

.bio-main img{
  width: 200px;
  margin-top: 5px;
  transform: perspective(75em) rotateX(18deg);
  box-shadow:rgba(22, 31, 39, 0.42) 0px 7px 30px -25px,rgba(19, 26, 32, 0.08) 0px 3px 15px -35px;
  border-radius: 20px;
  border: 1px solid;
  border-color:rgb(213, 220, 226)rgb(213, 220, 226)rgb(184, 194, 204);
}

.repo-main{
  opacity: 0;
  animation: fadein 1s linear 1 forwards;
  width: 100%;
  height: 90vh;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  overflow-y: auto;
}

.repo-main div{
  height: max-content;
  background: var(--background);
  width: 250px;
  margin: 1em;
  color: var(--main);
  padding: 1em;
  font-size: 14px;
  cursor: pointer;
  transform: perspective(75em) rotateX(18deg);
  box-shadow:rgba(22, 31, 39, 0.42) 0px 7px 30px -25px,rgba(19, 26, 32, 0.08) 0px 3px 15px -35px;
  border-radius: 20px;
  border: 1px solid;
  border-color:rgb(213, 220, 226)rgb(213, 220, 226)rgb(184, 194, 204);
}

.follow-main{
  opacity: 0;
  animation: fadein 1s linear 1 forwards;
  width: 100%;
  height: 90vh;
  word-wrap: break-word;
  overflow-y: auto;
}

.follow-main div{
  display: flex;
  border-bottom: 1px solid var(--secondery);
  font-size: 15px;
  margin: 0 1em;
}

.follow-main div img{
  margin: 13px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

@media only screen and (min-width: 200px) and (max-width: 600px)  {
  .main{
    display: inline;
  }
  .nav-main{
    height: min-content;
    width: 100%;
  }
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
  50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
